/* set map, body, and html to 100% of the screen size */

html *
{
    font-family: "Garamond", serif;
}

.italic 
{
    font-style: italic;
}

.sup
{
    vertical-align: super;
    font-size: smaller;
}

.sub
{
    vertical-align: sub;
    font-size: smaller;
}

.tab-center 
{
    /* margin-left: auto;
    margin-right: auto;
    width: 500; */

    position: relative!important;
    top: 5% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

/* #leaflet_map {
    height:100vh;
}

#map_loc {
    position: relative;
}

#button_loc {
    position: relative;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

#search_loc {
    position: absolute !important;
    top: 5% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

#search_loc {
    z-index: 1031 !important;
} */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
